{
    "printWidth": 80,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
{% if tailwind %}    "tailwindAttributes": ["/^\\w+Class$/"],
    "tailwindStylesheet": "./src/app.css",
    "tailwindFunctions": ["tv", "twMerge"],
{% endif %}    "plugins": [{% if type in ['sveltekit', 'library'] %}"prettier-plugin-svelte"{% endif %}{% if tailwind %}{% if type in ['sveltekit', 'library'] %}, {% endif %}"prettier-plugin-tailwindcss"{% endif %}],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
