{
    "printWidth": 80,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
{% if tailwind %}
    "tailwindAttributes": ["/^\\w+Class$/"],
    "tailwindStylesheet": "./src/app.css",
    "tailwindFunctions": ["tv", "twMerge"],
{% endif %}
    "plugins": [
{% if _is_svelte %}
        "prettier-plugin-svelte"
{% endif %}
{% if tailwind %}
{% if _is_svelte %}
        , "prettier-plugin-tailwindcss"
{% else %}
        "prettier-plugin-tailwindcss"
{% endif %}
{% endif %}
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
