import { includeIgnoreFile } from "@eslint/compat";
import js from "@eslint/js";
import prettier from "eslint-config-prettier";
import perfectionist from "eslint-plugin-perfectionist";
{% if type in ['sveltekit', 'library'] %}import svelte from "eslint-plugin-svelte";
{% endif %}import globals from "globals";
import { fileURLToPath } from "node:url";
import ts from "typescript-eslint";
{% if type in ['sveltekit', 'library'] %}
import svelteConfig from "./svelte.config.js";
{% endif -%}const gitignorePath = fileURLToPath(new URL("./.gitignore", import.meta.url));

export default ts.config(
    includeIgnoreFile(gitignorePath),

    js.configs.recommended,
    ...ts.configs.strict,
    {
        languageOptions: {
            globals: {
                {% if type == 'worker' %}...globals.node{% else %}...globals.browser,
                ...globals.node{% endif %},
            },
        },
    },

    perfectionist.configs["recommended-alphabetical"],
    {
        rules: Object.fromEntries(
            [
                "classes",
                "enums",
                "exports",
                "interfaces",
                "imports",
                "named-exports",
                "modules",
                "named-imports",
                "object-types",
                "objects",
                "variable-declarations",
            ].map((rule) => [
                `perfectionist/sort-${rule}`,
                [
                    "error",
                    {
                        partitionByComment: "^@sort",
                    },
                ],
            ]),
        ),
    },
{% if type in ['sveltekit', 'library'] %}    ...svelte.configs.all,
    {
        rules: {
            "svelte/block-lang": [
                "error",
                {
                    script: ["ts"],
                },
            ],
            "svelte/consistent-selector-style": "off",
            "svelte/experimental-require-strict-events": "off",
            "svelte/no-inline-styles": "off",
            "svelte/no-navigation-without-base": "off",
            "svelte/no-top-level-browser-globals": "off",
            "svelte/no-unused-class-name": "off",
            "svelte/require-optimized-style-attribute": "off",
            "svelte/valid-compile": "off",
        },
    },
    {
        files: ["**/*.svelte", "**/*.svelte.ts", "**/*.svelte.js"],
        ignores: ["eslint.config.js", "svelte.config.js"],

        languageOptions: {
            parserOptions: {
                extraFileExtensions: [".svelte"],
                parser: ts.parser,
                projectService: true,
                svelteConfig,
            },
        },
    },
{% endif %}    prettier,{% if type in ['sveltekit', 'library'] %}
    ...svelte.configs.prettier,{% endif %}
);
