{
{% if type in ['sveltekit', 'library'] %}    "extends": "./.svelte-kit/tsconfig.json",
{% endif %}    "compilerOptions": {
        "allowJs": true,
        "checkJs": true,
        "esModuleInterop": true,
        "forceConsistentCasingInFileNames": true,
        "resolveJsonModule": true,
        "skipLibCheck": true,
        "sourceMap": true,
        "strict": true,
{% if type == 'worker' %}        "module": "es2022",
        "moduleResolution": "bundler"
    },
    "exclude": ["tests"],
    "include": ["worker-configuration.d.ts", "src/**/*.ts"]
{% endif %}{% if type in ['sveltekit', 'library'] %}        "module": "NodeNext",
        "moduleResolution": "NodeNext"
    }
{% endif %}}
