{
{% if project_type in ['sveltekit', 'library'] %}
    "extends": "./.svelte-kit/tsconfig.json",
{% endif %}
    "compilerOptions": {
        "allowJs": true,
        "checkJs": true,
        "esModuleInterop": true,
        "forceConsistentCasingInFileNames": true,
        "resolveJsonModule": true,
        "skipLibCheck": true,
        "sourceMap": true,
        "strict": true,
        "module": "NodeNext",
{% if project_type == 'worker' %}
        "moduleResolution": "bundler"
{% else %}
        "moduleResolution": "NodeNext"
{% endif %}
    }
}
