{
{% if _svelte %}
    "extends": "./.svelte-kit/tsconfig.json",
{% endif %}
    "compilerOptions": {
        "allowJs": true,
        "checkJs": true,
        "esModuleInterop": true,
        "forceConsistentCasingInFileNames": true,
        "resolveJsonModule": true,
        "skipLibCheck": true,
        "sourceMap": true,
        "strict": true,
        "module": "NodeNext",
{% if type == 'worker' %}
        "moduleResolution": "bundler"
{% else %}
        "moduleResolution": "NodeNext"
{% endif %}
    }
{% if type == 'worker' %}
    ,
    "exclude": ["tests"],
    "include": ["worker-configuration.d.ts", "src/**/*.ts"]
{% endif %}
}
