import { sveltekit } from "@sveltejs/kit/vite";
{% if tailwind %}import tailwindcss from "@tailwindcss/vite";
{% endif %}{% if browser_tests %}import { playwright } from "@vitest/browser-playwright";
{% endif %}{% if tests %}import { defineConfig } from "vitest/config";
{% else %}import { defineConfig } from "vite";
{% endif %}
export default defineConfig({
    plugins: [{% if tailwind %}tailwindcss(), {% endif %}sveltekit()],{% if tests %}
    test: {% if browser_tests %}{
        projects: [
            {
                extends: "./vite.config.ts",
                resolve: { conditions: ["browser"] },
                test: {
                    exclude: ["**/*.svelte.test.ts"],
                    include: ["**/*.test.ts"],
                    name: "unit",
                    sequence: {
                        concurrent: true,
                    },
                },
            },
            {
                extends: "./vite.config.ts",
                resolve: { conditions: ["browser"] },
                test: {
                    browser: {
                        enabled: true,
                        instances: [
                            { browser: "chromium" },
                            { browser: "firefox" },
                            { browser: "webkit" },
                        ],
                        provider: playwright(),
                        viewport: {
                            height: 512,
                            width: 512,
                        },
                    },
                    css: true,
                    include: ["**/*.svelte.test.ts"],
                    name: "browser",
                },
            },
        ],
        setupFiles: "tests/setup.ts",
    },{% else %}{
        include: [
            "src/**/*.{test,spec}.{js,ts}",
            "tests/**/*.{test,spec}.{js,ts}",
        ],
    },{% endif %}{% endif %}
});
