!.env.example
!.env.test
.*_cache
.coverage
.direnv
.env
.env.*
.netlify
.output
.tox
.venv
.vercel
.wrangler
.DS_Store
__pycache__
node_modules
Thumbs.db

/.svelte-kit
/build
/dist
/mopidy_marceline/static

*.egg-info
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log
