.direnv
result
result-*
.env
.env.*
.venv
.uv
uv.lock
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/
.tox/
.pytest_cache/
.mypy_cache/
.dmypy.json
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
