{
    "name": "{{ name }}",
    "version": "0.0.1",
    "description": "{{ description }}",
    "type": "module",
    "scripts": {
        "dev": "vite dev",
        "build": "svelte-package",
        "check": "svelte-check --tsconfig ./tsconfig.json",
        "check:watch": "svelte-check --tsconfig ./tsconfig.json --watch",
        "lint": "eslint .",
        "lint:fix": "eslint --fix .",
        "format": "prettier --check .",
        "format:fix": "prettier --write ."{% if tests %},
        "test": "vitest"{% endif %}
    },
    "exports": {
        ".": {
            "types": "./dist/index.d.ts",
            "svelte": "./dist/index.js"
        }
    },
    "files": [
        "dist"
    ],
    "svelte": "./dist/index.js",
    "types": "./dist/index.d.ts",
    "devDependencies": {
        "@eslint/compat": "^2.1.0",
        "@eslint/js": "^10.0.1",
        "@sveltejs/package": "^2.4.0",
        "@sveltejs/vite-plugin-svelte": "^7.0.0",
{% if tailwind %}        "@tailwindcss/vite": "^4.2.4",
{% endif %}        "@types/node": "^22.0.0",
{% if browser_tests %}        "@vitest/browser-playwright": "^4.1.5",
{% endif %}{% if svelte_m3c %}        "bits-ui": "^2.18.0",
{% endif %}        "eslint": "^10.4.0",
        "eslint-config-prettier": "^10.1.8",
        "eslint-plugin-perfectionist": "^5.9.0",
        "eslint-plugin-svelte": "^3.5.1",
        "globals": "^17.6.0",
{% if browser_tests %}        "playwright": "^1.59.1",
{% endif %}        "prettier": "^3.8.3",
        "prettier-plugin-svelte": "^3.5.1",
{% if tailwind %}        "prettier-plugin-tailwindcss": "^0.8.0",
{% endif %}{% if svelte_m3c %}        "svelte-m3c": "^0.0.5",
        "tailwind-merge": "^3.5.0",
        "tailwind-variants": "^3.2.2",
{% endif %}        "svelte": "^5.55.5",
        "svelte-check": "^4.4.7",
{% if tailwind %}        "tailwindcss": "^4.2.4",
{% endif %}        "typescript": "^6.0.3",
        "typescript-eslint": "^8.59.4",
        "vite": "^8.0.10"{% if tests %},
        "vitest": "^4.1.7"{% endif %}
    },
    "packageManager": "pnpm@11.2.2+sha512.36e6621fad506178936455e70247b8808ef4ec25797a9f437a93281a020484e2607f6a469a22e982987c3dbb8866e3071514ab10a4a1749e06edcd1ec118436f"
}
