{
    "$schema": "node_modules/wrangler/config-schema.json",
    "name": "{{ name }}",
    "main": "src/index.ts",
    "compatibility_date": "2026-05-24",
    "compatibility_flags": ["nodejs_compat"],
    "workers_dev": true,
    "preview_urls": true,
    "previews": {},
    "build": {
        "command": "pnpm build",
    },
    "upload_source_maps": true,
    "observability": {
        "enabled": true,
        "logs": {
            "enabled": true,
        },
        "traces": {
            "enabled": true,
        },
    },
}
