{% if type in ['sveltekit', 'library'] %}{
    "svelte.enable-ts-plugin": true{% if tailwind %},{% endif %}
{% if tailwind %}    "tailwindCSS.experimental.configFile": "src/app.css",
    "tailwindCSS.classFunctions": ["tv", "twMerge"],
    "tailwindCSS.classAttributes": [
        "class",
        "className",
        "ngClass",
        "class:list",
        "\\w+Class"
    ],
    "files.associations": {
        "*.css": "tailwindcss"
    }
{% endif %}}{% else %}{}{% endif %}
